body {
    text-align: center;
}
.container {
    max-width: 750px;
    height: 400px;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    font-size: 1.3rem;
}
img.bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
    z-index: -1;
}
form {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
}
form div {
    padding: 10px;
   
}